header{
  text-align: center;
  h1 {
    padding: 15px 0 0px 0;
    font-size: 1.75em;
  }
  span {
    color: #aeaeae;
  }
  h2 {
    padding-bottom: 20px;
    color: $base-accent-color;
    font-size: 1.25em;
  }

}

@media (max-width: 500px) {
  header{
    text-align: right;
    h1 {
      width: 100%;
      margin-bottom: 0 0 10px 0;
      padding-top: 0;
      font-size: 1.5em;
    }
    h2 {
      font-size: 1em;
    }
  }

}
