nav {
  border-bottom: 1px solid $base-border-color;
  margin: 0 0;

  ul {
    display: inline-block;
    margin-bottom: em(10);
    width: 100%;
  }
}

.blog-title {
  font-size: 1.4em;
  font-weight: 700;
  letterspacing: 4px;
  text-transform: uppercase;
}