@charset "utf-8";

@import "bourbon";
@import "base/base";   /* Bitters needs to be imported before Neat */
@import "neat";

@import "partials/layout";

@import "partials/nav";
@import "partials/footer";

$orange: #ffa500;
$dark-orange: darken($orange,10%);

$sliding-menu-border-color: $dark-gray;
$sliding-menu-background: lighten($sliding-menu-border-color, 5);
$sliding-menu-color: #fff;
$sliding-menu-border: 1px solid $sliding-menu-border-color;
$sliding-menu-background-hover: $base-accent-color;
$sliding-menu-color-hover: #eaeaea;

body{
  overflow-x: hidden;
}

@import "components/header";
@import "components/footer";
@import "components/sliding-menu";
@import "components/google-map";
@import "components/card";
@import "font-awesome/css/font-awesome";
