@charset "utf-8";

#map {
  width: 100%;
  height: 400px;
  margin-top: 2em;
  border: 1px solid #e0e0e0;

  .map-marker {
    width: 200px;
    padding: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  }
}