@charset "utf-8";

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
}
h1 {
  padding: 10px;
  text-align: center;
}

#map {
  width: 100%;
  height: 400px;
  border: 1px solid #e0e0e0;
}
.fa {
  margin-right: 10px;
}
.map-marker {
  width: 200px;
  padding: 10px;
}

.one-third, .two-thirds {
  padding-left: 20px;
}
.one-third ul, .two-thirds ul {

  padding-left: 0;
  list-style: none;
  /*background: red;*/
}
.one-third ul ul {
  padding-left: 15px;
  list-style: none;
}
.two-thirds ul {
  /*background: blue;*/
}

.list {
  margin: 20px 0;
}
.list li {
  padding: 3px;
}

.clear {
  clear: both;
}
@media (min-width: 480px) {
  .wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .one-third {
    float: left;
    width: 33.3%;
    padding-left: 0;
  }
  .two-thirds {
    float: left;
    width: 66.6%;
    padding-left: 0;
  }
}