---
title: Vancouver East Village
---

<div class="wrapper">
  <h1><i class="fa fa-map-marker"></i>Vancouver East Village</h1>

  <section class="map">
    <meta name="mapOptions" content='<%= data.directory.google_map.options.to_json %>'>
    <meta name="locations" content='<%= data.directory.locations.to_json %>'>
    <meta name="categories" content='<%= data.directory.navigation.categories.to_json %>'>

    <div id="map"></div>
  </section>

  <section class="list">

  </section>
</div>
<script src="/javascripts/directory.js"></script>