---
title: Vancouver East Village
---

<h1>Vancouver East Village</h1>
<h2>Where do you want to go today?</h2>

<section class="map">
  <meta name="mapOptions" content='<%= data.directory.google_map.options.to_json %>'>
  <meta name="locations" content='<%= data.directory.locations.to_json %>'>
  <div id="map"></div>
</section>

<section class="list">
  <ul>
    <li>test</li>
  </ul>
</section>

<script src="/javascripts/directory.js"></script>